.form {
  display: block;
  flex-direction: column;
  padding-left: 30rem;
 
 
 
  }
  .ul{
    display: flex;
    justify-content: space-between;
padding-left: 20rem;
padding-right: 2rem;
}

  /* .App-logo {
   
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
  
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
   */