/* 

.lchoice {
   
    
    text-align:end;
    background-color: white;
    padding-right: 4rem;
    border-radius: 5px;
    display: block;
    text-decoration: rgb(190, 189, 196);
    margin-left: 67rem;
    margin-right: 2.5rem;

} */