/* .form {
   
  
}
.p{
    margin-left: 32rem; 

}
.btn{
    size: 3rem;
}


@media (max-width:768px) {
    .select {
        position: absolute;
        display: flex;
        left: 2px;
       
    }
    .selects{
        position: absolute;
        display: flex;
        left:auto;
        left: 2px;
    }
} */